#result {
	width:30%;
	height:800px;
	margin:30px auto;
	border:5px solid #ccc;
	border-radius:15px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
}
ul {
	list-style: none;
	width:500px;
	margin:10px auto;
	padding:0;
}
li {
	display:inline-block;
	width:120px;
	border:1px solid #ccc;
	padding:10px 15px;	
	font-size:16px;
	text-align:center;
}
.menu-info{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: slategrey;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    text-align: center;

}

#container {
	width:500px;
	margin: 20px auto;
	padding:20px;
}
input[type="text"] {
	width: 370px;
	float: left;
	height: 30px;
	padding-left: 30px;
}
button {
	width: 90px;
	height: 35px;
	float:right;
	background: black;
	color: azure;
	border: none;
}
